/* || Reset */
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* || Custom Variables */
:root {
    --ff-inter: 'Inter', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi: 600;

    --clr-invalid: rgb(200, 0, 0);
    --clr-valid: rgb(18, 176, 0);

}

body {
    font-family: var(--ff-inter);
    font-weight: var(--fw-regular);
}

main {
    display: flex;
}

.background {
    background-image: url(img/daniel-koponyas-dPTe6GyZMhE-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 45%;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

svg {
    width: 6rem;
    fill: #000;
}

.photo-credit {
    color: #d0e5b5;
    font-size: 0.8rem;
    font-weight: var(--fw-semi);

}

.background a {
    color: inherit;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
}

h1 {
    font-size: 2.5rem;
    font-weight: var(--fw-semi);
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: var(--fw-semi);
}

.content > p {
    font-weight: var(--fw-semi);
    margin-bottom: 1rem;
    width: calc(70% + 2rem);
    line-height: 1.25rem;
}

.italic {
    font-style: italic;
}

section {
    background-color: #fff;
    margin: 2rem 0;
    padding: 1.5rem;
    display: grid;
    flex-direction: column;
    gap: 1.5rem;
}

.content,
.submit-section {
    padding-left: 1.5rem;
}

input {
    appearance: none;
    font-family: inherit;
    font-size: 100%;
    border: 1px solid #ccc;
    border-radius: 0.125rem;
    padding: 0.5rem;
    width: 15rem;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border: 1px solid var(--clr-invalid);
}

input:not(:focus):not(:placeholder-shown):valid {
    border: 1px solid var(--clr-valid);
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error {
    display: block;
}

input:focus {
    outline: 2px solid #0285ff;
}

input::placeholder {
    font-size: 0.8rem;
}


.form-row {
    display: flex;
    gap: 3rem;
}

.form-row > p {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    padding-bottom: 0.25rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: var(--fw-semi);
    letter-spacing: 0.055rem;
    color: #555;
}

.pwd-minimum {
    font-size: 0.6rem;
    text-transform: none;
    letter-spacing: normal;
}

button {
    padding: 0.75rem 1.5rem;
    background-color: rgb(65, 84, 4);
    border: none;
    color: #fff;
    font-weight: var(--fw-semi);
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.18);
}

button:hover{
    background-color: rgb(94, 112, 34);

}

button + p {
    font-size: 0.75rem;
}

.submit-section a {
    color: rgb(65, 84, 4);
    font-weight: var(--fw-semi);
    text-decoration: none;
}

.submit-section a:hover {
    color: rgb(94, 112, 34);
}

.error {
    display: none;
    font-size: 0.7rem;
    margin-top: 0.25rem;
    color: var(--clr-invalid);
}

/* .hidden {
    display: none;
} */






/* || Notes

Helpful for styling form validation focus/valid/invald
https://www.bram.us/2021/01/28/form-validation-you-want-notfocusinvalid-not-invalid/

Another resource for styling forms
https://internetingishard.netlify.app/html-and-css/forms/index.html
*/